---

---

<section class="about-content-wrapper">
    <div class="about-content">
      <div class="about-content-inner">
        <div class="about-title-parent-parent">
          <div class="about-title-parent">
            <h1 class="about-us3">About Us</h1>
          </div>
          <div class="paragraph-1">
            <p class="by-linking-young">
              Founded in 2016, ScholarX is a social impact startup that
              focuses on Educational Financing. We are committed to helping
              young Africans access quality education and skills through
              Scholarships, Crowdfunding (Village), and E-Learning.
            </p>
            <p class="by-linking-young">
              By linking young people with financial aid both domestically
              and overseas, we are closing the funding gap for education.
            </p>
          </div>
        </div>
      </div>
      <img
        class="about-image-icon"
        loading="lazy"
        alt=""
        src="/assets/rectangle-89@2x.png"
      />
    </div>
  </section>