---

---

<section class="rectangle-parent9" id="contact">
    <div class="frame-child15"></div>
    <div class="contact-content">
      <div class="contact-header">
        <h1 class="contact-us2">Contact Us</h1>
        <div class="contact-description">
          <div class="paragraph-2">
            <p class="by-linking-young">
              We are located at 1 Akinwunmi street, Yaba, Lagos.
            </p>
            <p class="by-linking-young">&nbsp;</p>
            <p class="by-linking-young">
              However, to help us prepare for your coming, kindly complete
              the form on the right to connect with a member of our team.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="form">
      <div class="form-child"></div>
      <div class="form-fields">
        <div class="email-field">
          <div class="input">
            <b class="label">First Name</b>
            <div class="input1">
              <input
                class="input-text-here"
                placeholder="Input text here"
                type="text"
              />
            </div>
          </div>
          <div class="input">
            <b class="label1">Last Name</b>
            <div class="input1">
              <input
                class="input-text-here"
                placeholder="Input text here"
                type="text"
              />
            </div>
          </div>
        </div>
        <div class="input4">
          <b class="label2">Phone Number</b>
          <div class="input1">
            <input
              class="input-text-here"
              placeholder="Input text here"
              type="text"
            />
          </div>
        </div>
        <div class="input4">
          <b class="label3">Email</b>
          <div class="input1">
            <input
              class="input-text-here"
              placeholder="Input text here"
              type="text"
            />
          </div>
        </div>
        <div class="input4">
          <b class="how-can-we">How can we help you?</b>
          <textarea
            class="input9"
            placeholder="Input text here"
            rows="{10}"
            cols="{24}"
          >
          </textarea>
        </div>
      </div>
      <div class="submit-button">
        <button class="button2">
          <img
            class="iconoutlineplus-circle2"
            alt=""
            src="/assets/iconoutlinepluscircle.svg"
          />

          <div class="button-cta2">Send Message</div>
        </button>
      </div>
    </div>
  </section>
