---

---

<section class="team-members">
    <div class="the-heroes-behind-the-scenes-parent">
      <h1 class="the-heroes-behind">The heroes behind the scenes</h1>
      <div class="members-list">
        <div class="member-one">
          <div class="member-one-details">
            <img
              class="member-one-image"
              loading="lazy"
              alt=""
              src="/assets/rectangle-115@2x.png"
            />

            <div class="member-one-info">
              <div class="member-one-name">
                <div class="bola-lawal-wrapper">
                  <b class="bola-lawal">Bola Lawal</b>
                </div>
                <div class="ceoco-founder">CEO/Co-Founder</div>
              </div>
            </div>
          </div>
          <div class="member-two">
            <img
              class="member-one-image"
              loading="lazy"
              alt=""
              src="/assets/rectangle-116@2x.png"
            />

            <div class="member-two-info">
              <div class="member-one-name">
                <b class="damilola-emuze">Damilola Emuze</b>
                <div class="cooco-founder-wrapper">
                  <div class="cooco-founder">COO/Co-Founder</div>
                </div>
              </div>
            </div>
          </div>
          <div class="member-three">
            <img
              class="member-one-image"
              loading="lazy"
              alt=""
              src="/assets/rectangle-117@2x.png"
            />

            <div class="member-three-info">
              <div class="member-one-name">
                <b class="damilola-emuze">Maxwell Ogunfuyi</b>
                <div class="cooco-founder-container">
                  <div class="cooco-founder">COO/Co-Founder</div>
                </div>
              </div>
            </div>
          </div>
          <div class="member-four">
            <div class="member-four-details">
              <img
                class="member-one-image"
                loading="lazy"
                alt=""
                src="/assets/rectangle-118@2x.png"
              />

              <div class="member-four-info">
                <div class="member-one-name">
                  <div class="olabisi-kowobari-wrapper">
                    <b class="olabisi-kowobari">Olabisi Kowobari</b>
                  </div>
                  <div class="business-development-manager">
                    Business Development Manager
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>