---
import AboutSection from "../components/about/AboutSection.astro"
import ContactForm from "../components/about/ContactForm.astro"
import PageHeader from "../components/about/PageHeader.astro"
import TeamBanner from "../components/about/TeamBanner.astro"
import TeamImage from "../components/about/TeamImage.astro"
import Layout from "../layouts/Layout.astro"
---


<Layout title="About">
    <div class="about-us2">
        <PageHeader />
        <AboutSection />
        <TeamBanner />
        <TeamImage />
        <ContactForm />
      </div>
</Layout>