---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Career">
    <div class="no-career">
        <main class="frame-group">
          <section class="frame-section">
            <div class="frame-child10"></div>
            <div class="frame-wrapper">
              <header class="frame-container">
                <div class="logo-container">
                  <img
                    class="logo-icon2"
                    loading="lazy"
                    alt=""
                    src="/assets/logo-1.svg"
                  />
                </div>
                <img
                  class="iconoutlinemenu-alt-21"
                  loading="lazy"
                  alt=""
                  src="/assets/iconoutlinemenualt21.svg"
                />
              </header>
            </div>
            <div class="hero-title">
              <h1 class="come-join-us">Come join us today.</h1>
              <h2 class="at-scholar-x">
                At Scholar X, the future is yours for the taking. Come help us
                empower youths across Africa.
              </h2>
            </div>
            <div class="search-bar-and-image">
              <div class="search-and-filter">
                <div class="search-and-all-categories">
                  <img
                    class="iconoutlinesearch"
                    alt=""
                    src="/assets/iconoutlinesearch.svg"
                  />
    
                  <div class="search-jobs">Search Jobs</div>
                </div>
                <img
                  class="iconoutlinesearch"
                  alt=""
                  src="/assets/iconoutlinecheverondown.svg"
                />
              </div>
              <div class="search-and-filter">
                <div class="search-and-all-categories">
                  <img
                    class="iconoutlinesearch"
                    alt=""
                    src="/assets/iconoutlinecollection.svg"
                  />
    
                  <div class="all-categories">All Categories</div>
                </div>
                <img
                  class="iconoutlinesearch"
                  alt=""
                  src="/assets/iconoutlinecheverondown.svg"
                />
              </div>
            </div>
            <img class="image-31-icon" alt="" src="/assets/image-31@2x.png" />
          </section>
          <section class="job-container-wrapper">
            <div class="job-container">
              <div class="job-message">
                <div class="no-openings">
                  <h2 class="we-have-no">
                    We have no job openings at the moment.
                  </h2>
                  <div class="to-be-considered-container">
                    <p class="to-be-considered-first-for-fut">
                      To be considered first for future roles, email your resume
                      to
                      <span class="scholarxgmailcom">scholarx@gmail.com</span>
                    </p>
                  </div>
                </div>
                <div class="job-button">
                  <div class="button-container">
                    <button class="button">
                      <img
                        class="iconoutlineplus-circle"
                        alt=""
                        src="/assets/iconoutlinepluscircle.svg"
                      />
    
                      <div class="button-cta">Send Message</div>
                    </button>
                    <button class="button1">
                      <img
                        class="iconoutlineplus-circle"
                        alt=""
                        src="/assets/iconoutlinepluscircle1.svg"
                      />
    
                      <div class="button-cta1">Refer a Friend</div>
                    </button>
                  </div>
                </div>
              </div>
              <img
                class="job-image-icon"
                loading="lazy"
                alt=""
                src="/assets/rectangle-111@2x.png"
              />
            </div>
          </section>
        </main>
      </div>
</Layout>
