---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Projects">

    <div class="projects">
        <img class="projects-child" alt="" src="/assets/rectangle-101@2x.png" />
  
        <section class="content">
          <div class="content-child"></div>
          <div class="content-inner">
            <div class="frame-parent">
              <div class="logo-wrapper">
                <img
                  class="logo-icon"
                  loading="lazy"
                  alt=""
                  src="/assets/logo.svg"
                />
              </div>
              <img
                class="iconoutlinemenu-alt-2"
                loading="lazy"
                alt=""
                src="/assets/iconoutlinemenualt2.svg"
              />
            </div>
          </div>
          <div class="project-description">
            <h2 class="our-projects">Our Projects</h2>
            <div class="paragraph-4-wrapper">
              <div class="paragraph-4">
                <p class="see-how-we">
                  See how we are touching lives one day at a time.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section class="lower-content">
          <div class="project-row-one-parent">
            <div class="project-row-one">
              <div class="project-row-two">
                <img
                  class="project-row-two-child"
                  alt="prtc"
                  src="/assets/rectangle-103@2x.png"
                />
  
                <div class="rectangle-parent">
                  <div class="frame-child"></div>
                  <b class="scholarships">Scholarships</b>
                </div>
              </div>
              <div class="project-two-titles">
                <img
                  class="project-row-two-child"
                  alt=""
                  src="/assets/rectangle-105@2x.png"
                />
  
                <button class="rectangle-group">
                  <div class="frame-item"></div>
                  <b class="ikorodu-activation">Ikorodu Activation</b>
                </button>
              </div>
            </div>
            <div class="project-row-one">
              <div class="rectangle-container">
                <img
                  class="project-row-two-child"
                  alt=""
                  src="/assets/rectangle-1031@2x.png"
                />
  
                <div class="group-div">
                  <div class="rectangle-div"></div>
                  <b class="learnam-skills-fare">LearnAM Skills Fare</b>
                </div>
              </div>
              <div class="frame-div">
                <img
                  class="project-row-two-child"
                  alt=""
                  src="/assets/rectangle-1051@2x.png"
                />
  
                <div class="rectangle-parent1">
                  <div class="rectangle-div"></div>
                  <b class="builders-association">Builder’s Association</b>
                </div>
              </div>
            </div>
            <div class="project-row-one">
              <div class="rectangle-parent2">
                <img
                  class="project-row-two-child"
                  alt=""
                  src="/assets/rectangle-1032@2x.png"
                />
  
                <div class="rectangle-parent1">
                  <div class="rectangle-div"></div>
                  <b class="adamawa-workshop">Adamawa Workshop</b>
                </div>
              </div>
              <div class="rectangle-parent4">
                <img
                  class="project-row-two-child"
                  alt=""
                  src="/assets/rectangle-1052@2x.png"
                />
  
                <div class="rectangle-parent5">
                  <div class="rectangle-div"></div>
                  <b class="design-sprint">Design Sprint</b>
                </div>
              </div>
            </div>
            <div class="project-row-one">
              <div class="project-two-titles">
                <img
                  class="project-row-two-child"
                  alt=""
                  src="/assets/rectangle-105@2x.png"
                />
  
                <button class="group-button">
                  <div class="rectangle-div"></div>
                  <b class="trade-association">Trade Association</b>
                </button>
              </div>
              <div class="rectangle-parent7">
                <img
                  class="project-row-two-child"
                  alt=""
                  src="/assets/rectangle-1053@2x.png"
                />
  
                <button class="rectangle-parent8">
                  <div class="rectangle-div"></div>
                  <b class="career-fair">Career Fair</b>
                </button>
              </div>
            </div>
          </div>
        </section>
      </div>

</Layout>