--- 

---

<section class="focus">
  <div class="focus-container">
    <div class="focus-container-child"></div>
    <div class="focus-content">
      <div class="focus-title">
        <div class="what-is-our">What is our Focus?</div>
      </div>
      <h2 class="we-are-focused">
        We are focused on imparting lifelong skills to Africans
      </h2>
    </div>
    <div class="education1">
      <div class="card-education">
        <img
          class="learnam-logo-icon"
          alt=""
          src="/assets/learnam-logo-icon.svg"
        />

        <div class="education-icon">
          <div class="icon-backgrounds"></div>
          <img
            class="graduation-cap-1-icon"
            loading="lazy"
            alt=""
            src="/assets/graduation-cap-1@2x.png"
          />
        </div>
        <img
          class="books-perspective-matte-s-2-icon"
          alt=""
          src="/assets/books-perspective-matte-s-2@2x.png"
        />

        <img
          class="image-29-icon"
          alt=""
          src="/assets/image-29@2x.png"
        />

        <div class="card-education-description">
          <b class="education2">Education</b>
          <div class="we-are-providing">
            We are providing digital and affordable education to
            low-income earners in Africa
          </div>
        </div>
      </div>
      <div class="cardproduct">
        <div class="education-icon">
          <div class="icon-backgrounds"></div>
          <img
            class="graduation-cap-1-icon"
            loading="lazy"
            alt=""
            src="/assets/light-bulb-2@2x.png"
          />
        </div>
        <div class="card-education-description">
          <b class="upskilling">Upskilling</b>
          <div class="we-are-providing">
            Employers are now upskilling their workers on our platform
          </div>
        </div>
      </div>
      <div class="cardproduct1">
        <div class="education-icon">
          <div class="icon-backgrounds"></div>
          <img
            class="money-1-icon"
            loading="lazy"
            alt=""
            src="/assets/money-1@2x.png"
          />

          <img class="money-1-1" alt="" src="/assets/money-1-1@2x.png" />
        </div>
        <div class="card-education-description">
          <b class="financing">Financing</b>
          <div class="we-are-providing">
            Over the years, we have funded the education of underserved
            youths in Africa
          </div>
        </div>
      </div>
    </div>
  </div>
</section>