---

---


<section class="page-footer">
  <div class="footer5">
    <div class="footer-top1">
      <img
        class="logo-icon7"
        loading="lazy"
        alt=""
        src="/assets/logo-1.svg"
      />

      <div class="address-details">
        Put yourself on a better life path through education with
        ScholarX.
      </div>
      <div class="social-icons1">
        <img
          class="social-icons-child"
          loading="lazy"
          alt=""
          src="/assets/group-1128.svg"
        />

        <img
          class="social-icons-child"
          loading="lazy"
          alt=""
          src="/assets/group-1129.svg"
        />

        <img
          class="social-icons-child"
          alt=""
          src="/assets/group-1130.svg"
        />

        <img
          class="social-icons-child"
          alt=""
          src="/assets/group-1131.svg"
        />
      </div>
      <div class="copyright1">
        <div class="copyright-details">
          <div class="copyright-symbol3"></div>
          <div class="c3">c</div>
        </div>
        <div class="rights-statement">
          <div class="scholarx-inc-all3">
            2022 ScholarX Inc. All rights reserved
          </div>
        </div>
      </div>
    </div>
    <div class="footer-links1">
      <div class="products-link1">
        <b class="products4">Products</b>
        <div class="learnam4">LearnAM</div>
        <div class="quickstaff4">Quickstaff</div>
        <div class="e-transcript3">E-transcript</div>
        <div class="and-more3">and more...</div>
      </div>
      <div class="products-link1">
        <b class="company3">Company</b>
        <div class="about-us5">About Us</div>
        <div class="and-more3">Contact Us</div>
        <div class="testimonials4">Testimonials</div>
      </div>
    </div>
    <div class="footer-support">
      <b class="support3">Support</b>
      <div class="support-info">
        <div class="contact-details4">
          <div class="contact-container">
            <div class="contact-icons3">
              <img
                class="iconoutlinemail3"
                alt=""
                src="/assets/iconoutlinemail.svg"
              />

              <img
                class="iconoutlinemail3"
                alt=""
                src="/assets/iconoutlineofficebuilding.svg"
              />
            </div>
            <img
              class="iconoutlinemail3"
              alt=""
              src="/assets/iconoutlinephone.svg"
            />
          </div>
        </div>
        <div class="address-container">
          <div class="infoascholarxco3">info[a]scholarx.co</div>
          <div class="address-details">
            1 Akinwunmi St, Alagomeji-Yaba , Lagos, Nigeria
          </div>
          <div class="address-details">08176764921</div>
        </div>
      </div>
    </div>
  </div>
</section>