---

---
<img class="content-icon" alt="" src="/assets/content@2x.png" />
    
<section class="header">
  <div class="menu">
    <div class="menu-child"></div>
    <div class="menu-dropdown">
      <div class="menu-item">
        <img
          class="logo-icon6"
          loading="lazy"
          alt=""
          src="/assets/logo.svg"
        />

        <div class="slogan">
          <h1 class="creating-endless-paths-container">
            <b>Creating endless paths to </b>
            <span class="education">Education</span>
            <b>.</b>
          </h1>
          <h2 class="paragraph-11">
            Learn diverse skills online, get funding for your education,
            upskill your workers and grow your business
          </h2>
          <div class="button3">
            <div class="button-cta3">Let’s Go!</div>
            <div class="button-primary-icon">
              <img
                class="iconoutlinearrow-circle-down"
                alt=""
                src="/assets/iconoutlinearrowcircledown.svg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <img
      class="iconoutlinemenu-alt-23"
      loading="lazy"
      alt=""
      src="/assets/iconoutlinemenualt2.svg"
    />
  </div>
</section>