---


---
<section class="main">
  <div class="features">
    <div class="feature-list">
      <div class="feature-item">
        <b class="feature-placeholder">5000+</b>
      </div>
      <div class="paragraph-21">LearnAM downloads</div>
    </div>
    <div class="feature-list1">
      <div class="wrapper">
        <b class="feature-placeholder">5000+</b>
      </div>
      <div class="paragraph-21">Communities reached</div>
    </div>
    <div class="feature-list2">
      <div class="container">
        <b class="feature-placeholder">5000+</b>
      </div>
      <div class="paragraph-21">Awarded scholarships</div>
    </div>
  </div>
</section>