---

---

<section class="newsletter">
    <div class="cropped-shot-african-american-parent">
      <img
        class="cropped-shot-african-american-icon"
        alt=""
        src="/assets/croppedshotafricanamericanbusinesswomanusingtabletfemalehandsholdingmoderndigitaldevicetechnologyconcept-1@2x.png"
      />

      <div class="newsletter-form">
        <img
          class="form-top-spacing"
          loading="lazy"
          alt=""
          src="/assets/frame-190.svg"
        />

        <div class="separator-wrapper">
          <div class="separator"></div>
        </div>
        <div class="form-bottom-spacing">
          <div class="input-container">
            <div class="input-elements">
              <div class="subscribe-to-our">
                Subscribe To Our Newsletter
              </div>
              <div class="input10">
                <input
                  class="input-text-here4"
                  placeholder="Enter your email"
                  type="text"
                />
              </div>
            </div>
            <button class="button6">
              <img
                class="iconoutlineplus-circle5"
                alt=""
                src="/assets/iconoutlinepluscircle.svg"
              />

              <div class="button-cta6">Subscribe</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>