---

---

<section class="products3">
  <div class="products-container">
    <div class="products-content">
      <div class="products-title">
        <div class="our-products">Our Products</div>
        <h2 class="over-the-years-container">
          <p class="over-the-years1">
            Over the years, we have developed a fine range of products to
            suit your educational needs
          </p>
        </h2>
      </div>
    </div>
    <div class="product-cards">
      <div class="product-card-item">
        <div class="product-card">
          <div class="product-card-content">
            <img class="x-1-1" alt="" src="/assets/x--1-1@2x.png" />

            <img
              class="correct-answer-mock-up-1"
              loading="lazy"
              alt=""
              src="/assets/correct-answer-mock-up-1@2x.png"
            />
          </div>
        </div>
        <div class="product-card-description">
          <div class="card-education-description">
            <div class="quickstaff3">QuickStaff</div>
            <div class="lorem-ipsum-dolor">
              QuickStaff is the swiftest and surest way to upskill your
              staff at any point in time. We also save you time and
              energy, by recruiting skillful and qualified assistants that
              suit your business needs.
            </div>
          </div>
          <button class="button4">
            <img
              class="iconoutlineplus-circle3"
              alt=""
              src="/assets/iconoutlinepluscircle2.svg"
            />

            <div class="button-cta4">Go to QuickStaff</div>
          </button>
        </div>
      </div>
      <div class="product-learn-a-m">
        <div class="learn-a-m-container">
          <div class="learn-a-m-content">
            <div class="learn-a-m-description">
              <div class="learnam3">LearnAM</div>
              <div class="learn-a-m-paragraph">
                <div class="learnam-is-the">
                  LearnAM is the absolute way to break language barriers in education. The LearnAM mobile application provides learning materials in English, Yoruba, Hausa and Igbo. We also offer business services that range from content creation, product activation to API integration.
                </div>
                <button class="button4">
                  <img
                    class="iconoutlineplus-circle3"
                    alt=""
                    src="/assets/iconoutlinepluscircle2.svg"
                  />

                  <div class="button-cta5">Go to LearnAM</div>
                </button>
              </div>
            </div>
          </div>
          <img
            class="copy-1-icon"
            loading="lazy"
            alt=""
            src="/assets/1463-copy-1@2x.png"
          />
        </div>
      </div>
    </div>
  </div>
</section>