---

---
<section class="projects2">
  <div class="projects-container">
    <div class="projects-container-child"></div>
    <div class="projects-content">
      <div class="projects-title">
        <div class="projects3">Projects</div>
      </div>
      <h2 class="we-are-touching">
        We are touching lives one day at a time
      </h2>
    </div>
    <div class="project-images">
      <div class="project-image-row">
        <div class="project-image-item">
          <img
            class="project-image-item-child"
            alt=""
            src="/assets/rectangle-1031@2x.png"
          />

          <div class="project-image">
            <div class="project-image-child"></div>
            <div class="ikorodu-activation1">Ikorodu Activation</div>
          </div>
        </div>
        <div class="project-image-placeholder">
          <img
            class="project-image-item-child"
            alt=""
            src="/assets/rectangle-74@2x.png"
          />

          <div class="project-image-duplicate">
            <div class="project-image-child"></div>
            <div class="ikorodu-activation1">Ikorodu Activation</div>
          </div>
        </div>
      </div>
      <div class="project-image-row1">
        <div class="rectangle-parent10">
          <img
            class="project-image-item-child"
            alt=""
            src="/assets/rectangle-75@2x.png"
          />

          <button class="frame-button">
            <div class="project-image-child"></div>
            <div class="learnam-workshop">LearnAM Workshop</div>
          </button>
        </div>
        <div class="rectangle-parent11">
          <img
            class="project-image-item-child"
            alt=""
            src="/assets/rectangle-76@2x.png"
          />

          <div class="rectangle-parent12">
            <div class="project-image-child"></div>
            <div class="ikorodu-activation1">Ikorodu Activation</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>