---

---

<section class="testimonials-container-wrapper">
  <div class="testimonials-container">
    <div class="testimonials-content">
      <div class="projects-content">
        <div class="focus-title">
          <div class="testimonials3">Testimonials</div>
        </div>
        <h2 class="appreciated-by-real">Appreciated by real people</h2>
      </div>
      <div class="testimonial-slider">
        <div class="testimonial">
          <div class="testimonial-child"></div>
          <img
            class="mask-group-icon"
            alt=""
            src="/assets/mask-group.svg"
          />

          <div class="mask-group-parent">
            <img
              class="mask-group-icon1"
              loading="lazy"
              alt=""
              src="/assets/mask-group-1@2x.png"
            />

            <div class="testimonial-paragraph">
              <div class="i-didnt-even">
                I didn't even know where to start as far as scholarships
                go but ScholarX has made it easy for me. I am now a
                recipient of a scholarship that pays my tuition in uni
                yearly. All thanks to ScholarX!
              </div>
            </div>
          </div>
          <b class="olawore-oluwafemi">Olawore Oluwafemi</b>
          <div class="law-student-university">
            Law Student, University of Ibadan.
          </div>
          <img
            class="testimonial-navigation-icon"
            alt=""
            src="/assets/testimonial-navigation.svg"
          />

          <div class="testimonial-navigation">
            <div class="navigation-dot"></div>
            <img
              class="iconoutlinecheveron-right"
              alt=""
              src="/assets/iconoutlinecheveronright.svg"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="previous-reviewer">
      <div class="reviewer-container">
        <div class="reviewer-info">
          <div class="we-have-been">We have been featured on</div>
        </div>
        <div class="featured-row-one-wrapper">
          <div class="featured-row-one">
            <div class="b-b-c-background-parent">
              <div class="b-b-c-background"></div>
              <div class="logo-images-one">
                <div class="logo-images-one-child"></div>
                <img
                  class="business-day-icon"
                  alt=""
                  src="/assets/business-day@2x.png"
                />
              </div>
              <div class="logo-images-one1">
                <div class="logo-images-one-child"></div>
                <img
                  class="disrupt-logo-1"
                  alt=""
                  src="/assets/disrupt-logo-1@2x.png"
                />
              </div>
              <div class="logo-images-one2">
                <div class="logo-images-one-child"></div>
                <img
                  class="gsma-logo-icon"
                  alt=""
                  src="/assets/gsma-logo@2x.png"
                />
              </div>
              <div class="logo-images-one3">
                <div class="logo-images-one-child"></div>
                <img
                  class="image-18-icon"
                  alt=""
                  src="/assets/image-18@2x.png"
                />
              </div>
            </div>
            <img
              class="new-bbc-logo-removebg-preview-icon"
              alt=""
              src="/assets/newbbclogoremovebgpreview-1@2x.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>